.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 300px;
    width: 400px;
    margin: 0.7%;
    background-color: rgb(20, 20, 20);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
    background: #0096d1;
    background: linear-gradient(136deg, rgba(0, 150, 209, 1) 0%, rgba(102, 26, 143, 1) 100%);
    transition: 0.3s;
}
  
.container {
    padding: 2px 16px;
}

