/* Use this to center any object other than an image */
/* OOOH! DANGEOURS!!! */
.obj_center_align {
    display: flex;
    justify-content: center;
}

.obj_round_corner {
    border-collapse: separate; /* Important */
    border-radius: 12px;       /* Adjust as needed */
    overflow: hidden;   
}

/* General class to disable anti-alliasing for images */
.no_smooth { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}

.center {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
